# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
ml-engine/__pycache__
ml-engine/venv
ml-engine/kunci-sawit.json
ml-engine/model_sawit_final.h5

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# secrets
ca.pem
